.admin-sidebar {
  width: 200px;
  min-height: 100vh;
  background-color: #001d6b;
  color: white;
  padding: 1rem;
}

.admin-sidebar .nav-link {
  color: white;
  margin-bottom: 1rem;
  font-weight: 500;
}

.admin-sidebar .nav-link.active {
  background-color: #0056b3;
  border-radius: 5px;
  padding-left: 0.5rem;
}
